.top-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  color: white;
  border-radius: 10px;
  background-color: red;
  border-color: red;
  width: 102px;
  text-align: center;
}
