.container{
    display: flex;
    flex-direction: column;
    background: #fff;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 800;

}

.underline{
    width: 180px;
    height: 6px;
    background: #3c009d;
    border-radius: 10px;
}

.inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 70px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input :placeholder-shown{
  height: 25px;
  width: 300px;
}

.submit {
  display: block;
  margin: 10px auto;
  width: 300px;  
  color: white;
  background: linear-gradient(to right, #2A00B7, #42006c);
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#changebtn {
  margin: auto;
  width: 300px;  
  color: black;
  background: #716e7c;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submit:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #42006c, #2A00B7);
}

#changebtn:hover {
    transform: scale(1.05);
}

.bi {
  font-size: 25px;
  color:rgb(128, 126, 126);
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 25px;
}

