html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(#2A00B7, #42006c);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#root {
  margin-top: 120px !important;
  left: 0 !important;
  right: -0 !important;
  bottom: 0 !important;
  max-width: 1300px !important;
  background: white !important;
  height: auto !important;
  min-height: calc(100vh - 100px);
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color:white;
  font-size: 40px;
  padding-left: 95px;
  height: 120px; 
  background: linear-gradient(to bottom, #03caca 50%, transparent 100%);
  z-index: 10;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
